<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher List</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>🧑‍🏫 Teacher list</h1>

<p>
    <a href="/"> Home</a>
    <a href="/teachers/add">➕ Register Teacher</a>
</p>

<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>ACTION</td>
    </tr>
    </thead>
    <tbody th:each="teacher:${teachers}">
    <tr>
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td>
            <a th:href="@{'/teachers/edit/' + ${teacher.id}}">Edit</a>
            <form th:action="@{'/teachers/delete/' + ${teacher.id}}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>